.prose > pre{
  margin-bottom: 16px;
}

.prose a{
  text-decoration: none;
  color:#3b82f6;
}
.prose a:hover{
  color: #1d4ed8;
}

.prose [class*='language-'] pre{
  background: rgb(24, 26, 30) !important;
}
.prose [class*='language-']{
  background: none !important;
}

.prose li > *{
  margin: 0 !important;
}
.prose li >p{
  display: inline;
}

.prose table {
  display: block;
  border-collapse: collapse;
  margin: 20px 0;
  overflow-x: auto;
  width: 100%;
}

.prose tr {
  border-top: 1px solid var(--vp-c-divider);
  transition: background-color 0.5s;
}

.prose tr:nth-child(2n) {
  background-color: var(--vp-c-bg-soft);
}

.prose th,
.prose td {
  border: 1px solid var(--vp-c-divider);
  padding: 12px 16px;
}

.prose th {
  font-size: 16px;
  font-weight: 600;
  background-color: var(--vp-c-white-soft);
}

.dark .prose th {
  background-color: var(--vp-c-black);
}
.prose code:before{
  content: none;
}
.prose code:after{
  content: none;
}
.prose code{
  border-radius: 4px;
  padding: 3px 6px;
  color: var(--vp-c-text-code);
  background-color: var(--vp-c-bg-mute);
  transition: color .5s,background-color .5s;
  margin: 0 3px;
}
.prose .header-anchor {
  float: left;
  margin-left: -0.87em;
  padding-right: 0.23em;
  font-weight: 500;
  opacity: 0;
  transition: color 0.25s, opacity 0.25s;
}

.prose h1:hover .header-anchor,
.prose h1 .header-anchor:focus,
.prose h2:hover .header-anchor,
.prose h2 .header-anchor:focus,
.prose h3:hover .header-anchor,
.prose h3 .header-anchor:focus,
.prose h4:hover .header-anchor,
.prose h4 .header-anchor:focus,
.prose h5:hover .header-anchor,
.prose h5 .header-anchor:focus,
.prose h6:hover .header-anchor,
.prose h6 .header-anchor:focus {
  opacity: 1;
}

.prose :not(pre, h1, h2, h3, h4, h5, h6) > code {
  font-size: var(--vp-code-font-size);
}

.prose :not(pre) > code {
  border-radius: 4px;
  padding: 3px 6px;
  color: var(--vp-c-text-code);
  background-color: var(--vp-c-bg-mute);
  transition: color 0.5s, background-color 0.5s;
}

.prose h1 > code,
.prose h2 > code,
.prose h3 > code,
.prose h4 > code,
.prose h5 > code{
  font-size: 0.9em;
}

.prose a > code {
  color: var(--vp-c-brand);
  transition: color 0.25s;
}

.prose a:hover > code {
  color: var(--vp-c-brand-dark);
}

.prose blockquote p:before{
  content: none;
}
.prose .inline-math > p{
  display: inline;
}

.prose .ft-define > p{
  display: inline;
}
